extends layout

block content
    .container
        if user
            h1.py-3 Administrator Page
            ul.nav.nav-tabs
                li.nav-item(href='#')
                    a.nav-link Blog info                        
                li.nav-item(href='#')
                    a.nav-link.active My Profile
                li.nav-item(href='#')
                    a.nav-link Posts
            .container
                a( href='/admin/posting' ) post editor
    script.
        var taps = document.getElementsByClassName('nav-link');
        //- console.log('taps',taps);
        var removeClassName = function(classNames,targetName) {
            console.log('classNames:',classNames, targetName);
            var resultClassNames = classNames.split(' ');
            console.log(resultClassNames);
            resultClassNames = resultClassNames.reduce( (acc,cur) => {               
                if(cur!==targetName) {
                    acc.push(cur);
                }
                return acc;
            },[]);       
            return resultClassNames.join(' ');
        }
        var clearActiveOfTaps = function (taps) {                   
            Array.prototype.forEach.call(taps, function (tap) {
                tap.className = removeClassName(tap.className,'active');        
            });
        }
        Array.prototype.forEach.call(taps, function (tap) { // It's compatible with Internet Explorer
            tap.addEventListener('click',(event)=>{
                clearActiveOfTaps(taps);
                console.log(tap.className);
                tap.className=tap.className+' active';
            });
        });
