.container.mt-4
    h4 내 프로필
    hr
    form
        .form-group
            label 닉네임
            input.form-control(type='text')
        .form-group
            label 이메일
            input.form-control(type='email')
        hr
        .form-group
            label 아이콘
        //- .form-group
        //-     label 블로그 이미지
        hr
        .form-group
            button(class='btn btn-lg btn-primary btn-block' type='submit') 저장
