.container.mt-4
    h4 블로그 정보
    hr
    form
        .form-group
            label 블로그 이름
            input.form-control(type='text')
        .form-group
            label 블로그 설명
            textarea.form-control
        hr
        .form-group
            label 파비콘
        //- .form-group
        //-     label 블로그 이미지
        hr
        .form-group
        button(class='btn btn-lg btn-primary btn-block' type='submit') 저장

