extends layout

block content
    .container
        form#post-form.form-group(action='/post/write' method='post')
            .input-group.my-3
                //- .input-group-prepend
                    span.input-group-text Title
                input.form-control(type=text name='title' placeHolder='Title')
            .input-group.hidden-input
                label(for='post-content')
                textarea#text-content.post-content.editor(name='content')
            .input-group
                label(for='post-content')
                #editSection.form-control
            .input-group.my-3
                .input-group-prepend
                    span.input-group-text  Tags
                input.form-control(type=text name='tags')        
            .input-group.mb-3
                .input-group-prepend
                    span.input-group-text Summary
                textarea.form-control(type=text name='summary')
            button#post.form-control.btn-primary.py-3(type='submit') POST        
        script.
            var editor = new tui.Editor({
                el: document.querySelector('#editSection'),
                initialEditType: 'markdown',
                previewStyle: 'vertical',
                height: '300px'
            });
            var postForm = document.getElementById('post-form');
            var postContent = document.getElementById('text-content');
            if(postForm) {
                postForm.addEventListener('submit',(event)=> {                    
                    postContent.innerText=editor.getHtml();
                    var form = event.target;
                    console.log('form:',form.children);
                    //- event.preventDefault();
                });
            }
