doctype
html(lang="ko")
    head
        meta(charset='UTF-8')
        title= title
    body
        //- 블로그 
        aside
            nav#sidemenu
                ul.category-tree
                    