extends layout

block content
    form#post-form(action='/write/post' method='post')
        .input-title 
            label(for='post-title')
            input.post-title.editor(type=text name='title')
        .input-content
            label(for='post-tags')
            input.post-title.editor(type=text name='tags')
        .input-content
            label(for='post-content')
            textarea.post-content.editor(name='content')
        button#post-btn.btn(type='submit') POST
    script(type="text/javascript" src="http://lab.lepture.com/editor/editor.js")
    script(type="text/javascript" src="http://lab.lepture.com/editor/marked.js")
    script.
        var editor = new Editor();
        editor.render();
