extends layout

block content   
    #title=`${title}`
    #content=`${content}`
    if(user)
        form(class='form-comment' action='/post/comment' method='POST')
            .input-content
                label(for='comment')
                textarea(class='comment' name='comment')
            button(class='btn btn-lg btn-primary btn-block' type='button') comment
    script(src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js")
    script.
        var converter = new showdown.Converter();
        var content = document.getElementById('content');
        content.innerHTML = converter.makeHtml(content.innerHTML);
        
        
    