extends layout

block content
    form(class='form-signin' action='/auth/login' method='post')
        //-img(class='mb-4' src='/docs/4.3/assets/brand/bootstrap-solid.svg')
        h1(class='h3 mb-3 font-weight-normal') Sign in!
        .input-group
            label(class='sr-only' for='inputEmail') Email address
            input#inputEmail(placeholder='email' class='form-control' type='email' name='email')        
        .input-group
            label(class='' for='') 
            a(href='/private-info-policy.html') 개인정보처리방침
        .input-group
            label(class='sr-only' for='inputPassword') password
            input#inputPassword(placeholder='password' class='form-control' type='password' name='password')        
        if loginError
            .error-message=loginError
        button(class='btn btn-lg btn-primary btn-block' type='submit') Sign in
